input {
    width: 100%;
    font-family: 'Inconsolata', monospace;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 4em;
    margin: 0 auto 20px;
    text-align: right;
}

div#btngrid {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-family: 'Inconsolata', monospace;
    vertical-align: middle;
    width: 100%;
    font-size: 4em;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    /* padding: 2rem; */
    transition: background-color 0.2s ease-in-out;
}

button.eq {
    grid-column: 5 / 6;
    grid-row: 1 / span 4;
}

button.red {
    background-color: lightcoral;
}

button.blue {
    background-color: lightblue;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: gray;
}